* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 3px dashed purple; */
}

/* div {
  outline: 1px solid blue;
}

section {
  outline: 1px solid green;
}

article {
  outline: 1px dashed purple;
} */

.container {
  background-color: orange;
  width: 20rem;
  height: 20rem;
  align-content: center;
  padding: 5rem;
  /* border: 30px solid red; */
  margin: 4rem;
}

.box {
  margin: auto;
  background-color: blue;
  color: white;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

/* (0, 0, 1) */
p {
  background-color: blueviolet;
}

/* (0, 0, 1) */
a {
  text-decoration: line-through;
}

/* (0, 0, 2) */
h1 ~ p {
  margin-block-start: 0;
  color: white;
}

/* (0, 0, 2) */
/* nav a {
        text-decoration: none;
      } */

/* (0, 0, 2) */
/* ul > li {
        list-style: circle;
      } */

/* (0, 0, 2) */
p::first-letter {
  font-size: 32px;
}

/* (0, 1, 0) */
.my-class {
  background-color: chocolate;
}

/* (0, 1, 0) */
.my-class {
  background-color: yellow;
}

/* (0, 1, 0) */
.nav-link {
  text-decoration: none;
}

/* nav ul:first-of-type a {
        text-decoration: none;
      } */

/* (0, 1, 1) */
p:hover {
  color: yellowgreen;
}

/* (1, 0, 0) */
#my-heading {
  color: red;
}
